/.nyc_output
/node_modules
/@woobly/*/package.json
/@woobly/*/license
/@woobly/*/node_modules
/woobly/package.json
/woobly/license
/woobly/node_modules
@woobly/**/*.js
@woobly/**/*.d.ts
woobly/**/*.js
woobly/**/*.d.ts
build/**/*.js
build/**/*.d.ts
publish/**/*.js
publish/**/*.d.t
